extends ../layouts/application

block content

  h1.display-4.fw-bold.mt-4= t('layouts.application.users')
  table.table.table-striped.table-hover.table-responsive
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td.align-middle= user.id
          td.align-middle= `${user.firstName} ${user.lastName}`
          td.align-middle= user.email
          td.align-middle= formatDate(user.createdAt)
          td
            .d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/users/${user.id}/edit`)= t('views.users.update')
              form(action=`/users/${user.id}`, method="post")
                input(type="hidden", name="_method", value="delete")
                input(type="submit", class="btn btn-danger", value=t('views.users.delete'))

