extends ../layouts/application

block header
  = t('views.users.new.signUp')

block content
  .card-body.row.p-5
    .col-12.col-md-6.d-flex.align-items-center.justify-content-center
      img.rounded-circle(src="../assets/welcome.png")
    .col-12.col-md-6.mt-3.mt-md-0
      form(action=route('users'), method="post")
        .form-floating.mb-3
          input.form-control(
            id="data_firstName",
            name="data[firstName]",
            value="",
            placeholder=t('views.users.firstName'),
            type="text",
            class=errors?.firstName ? 'is-invalid' : ''
          )
          label(for="data_firstName")= t('views.users.firstName')
          if errors?.firstName
            .form-control-feedback.invalid-feedback
              each error in errors.firstName
                p= error.message

        .form-floating.mb-3
          input.form-control(
            id="data_lastName",
            name="data[lastName]",
            value="",
            placeholder=t('views.users.lastName'),
            type="text",
            class=errors?.lastName ? 'is-invalid' : ''
          )
          label(for="data_lastName")= t('views.users.lastName')
          if errors?.lastName
            .form-control-feedback.invalid-feedback
              each error in errors.lastName
                p= error.message

        .form-floating.mb-3
          input.form-control(
            id="data_email",
            name="data[email]",
            value="",
            placeholder=t('views.users.email'),
            type="text",
            class=errors?.email ? 'is-invalid' : ''
          )
          label(for="data_email")= t('views.users.email')
          if errors?.email
            .form-control-feedback.invalid-feedback
              each error in errors.email
                p= error.message

        .form-floating.mb-3
          input.form-control(
            id="data_password",
            name="data[password]",
            value="",
            placeholder=t('views.users.password'),
            type="password",
            class=errors?.password ? 'is-invalid' : ''
          )
          label(for="data_password")= t('views.users.password')
          if errors?.password
            .form-control-feedback.invalid-feedback
              each error in errors.password
                p= error.message

        input.btn.btn-primary(type="submit", value=t('views.users.new.submit'))
